.road_map_page {
	position: relative;
	background-color: #fff;

	@media (max-width: 1000px) {
		margin-top: -11%;
	}

	@media (max-width: 430px) {
		margin-top: 0%;
	}

	.pc_version {
		display: block;
		height: 100%;
		@media (max-width: 930px) {
			display: none;
		}
	}

	.mobile_version {
		display: none;

		@media (max-width: 930px) {
			display: block;
		}
	}

	.container {
		position: absolute;
		top: 25%;
		left: 22%;
		width: 47%;
		height: 45%;
		z-index: 888;

		@media (max-width: 1000px) {
			top: 20%;
			left: 5%;
			width: 90%;
			height: 45%;
		}

		.pop_block {
			width: 70%;
			height: 70%;
			position: absolute;
			right: 10%;
			top: 18%;
			background-color: #fff;
			border: 5px solid #000;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.2s;
			opacity: 0;

			@media (max-width: 2550px) {
				border: 3px solid #000;
			}

			@media (max-width: 1000px) {
				right: 19%;
				top: 35%;
			}

			@media (max-width: 430px) {
				top: 20%;
				height: 80%;
			}

			&.active {
				opacity: 100%;
				z-index: 888;
			}

			.pop_block_content {
				width: 95%;
				height: 95%;
				background-image: url(../../assets/road-map-page/bg_pop_block.png);
				background-position: center;
				background-size: cover;
				border: 5px solid #000;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 5%;

				li {
					margin-bottom: 5px;
					display: flex;
					align-items: center;
					justify-content: center;

					.complete {
						display: inline-block;
						width: 10px;
						height: 15px;
						margin: -3px 10px 3px;
						border: solid #8699da;
						border-width: 0 5px 5px 0;
						transform: rotate(45deg);
					}

					.process {
						display: inline-block;
						width: 10px;
						height: 5px;
						margin: -3px 10px 3px;
						border: solid #8699da;
						border-width: 0 5px 5px 0;
					}

					img {
						margin-right: 2%;
						width: 20px;

						@media (max-width: 430px) {
							width: 13px;
						}
					}

					.text {
						width: 100%;
					}
				}

				font-size: calc(10px + 35 * (100vw / 3870));

				@media (max-width: 2550px) {
					font-size: calc(10px + 13 * (100vw / 2550));
					border: 3px solid #000;
				}

				@media (max-width: 1440px) {
					font-size: calc(10px + 10 * (100vw / 2000));
				}

				@media (max-width: 1280px) {
					font-size: 14px;
				}

				@media (max-width: 930px) {
					font-size: 18px;
				}

				@media (max-width: 430px) {
					font-size: 12px;
				}
			}

			.voice {
				position: absolute;
				top: 48%;
				right: -14%;
				width: 15%;
				height: 20%;
				z-index: 999;

				@media (max-width: 1000px) {
					right: -12%;
					width: 13%;
					height: 18%;
				}
			}
		}

		.block {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2.5px solid black;
			box-shadow: 5px 5px #000;

			@media (max-width: 2550px) {
				box-shadow: 3px 3px #000;
			}

			@media (max-width: 430px) {
				border: 1px solid black;
				box-shadow: 1px 1px #000;
			}

			.content {
				position: absolute;

				font-size: calc(10px + 35 * (100vw / 3870));

				@media (max-width: 2550px) {
					font-size: calc(10px + 12 * (100vw / 2550));
				}

				@media (max-width: 1440px) {
					font-size: calc(10px + 10 * (100vw / 2000));
				}

				@media (max-width: 1280px) {
					font-size: 14px;
				}

				@media (max-width: 430px) {
					font-size: 9px;
				}

				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				border: 2.5px solid #000;
				transition: all 0.4s;
				cursor: pointer;

				@media (max-width: 430px) {
					border: 1px solid #000;
				}
			}

			&.block_1 {
				background-color: #dad6ff;
				top: 3%;
				left: 0%;
				width: 38%;
				height: 35%;

				@media (max-width: 1000px) {
					top: 6%;
					left: 8%;
					width: 45%;
					height: 20%;
				}

				.content {
					width: 90%;
					height: 80%;
					background-color: #92acdd;

					&:hover {
						background-color: #aec6f3;
						transform: scale(1.05);
					}
				}

				.img_number {
					max-width: 26%;
					max-height: 35%;
					z-index: 333;
					position: absolute;
					top: -10%;
					left: 1%;
				}
			}

			&.block_2 {
				background-color: #dad6ff;
				bottom: 30%;
				left: 19%;
				width: 36%;
				height: 25%;

				@media (max-width: 1000px) {
					bottom: 44%;
					left: 25%;
					width: 55%;
					height: 18%;
				}

				.content {
					width: 90%;
					height: 80%;
					background-color: #fcf1ae;

					&:hover {
						background-color: #f7f5ec;
						transform: scale(1.05);
					}
				}

				.img_number {
					max-width: 25%;
					max-height: 50%;
					z-index: 333;
					position: absolute;
					top: -10%;
					right: -2%;

					@media (max-width: 1000px) {
						max-width: 20%;
						max-height: 40%;
					}
				}
			}

			&.block_3 {
				background-color: #dad6ff;
				top: 10%;
				left: 45%;
				width: 35%;
				height: 28%;

				@media (max-width: 1000px) {
					top: 16%;
					left: 60%;
					width: 40%;
					height: 18%;
				}

				.content {
					width: 90%;
					height: 80%;
					background-color: #f9aad5;

					&:hover {
						background-color: #f7bcdb;
						transform: scale(1.05);
					}
				}

				.img_number {
					max-width: 28%;
					max-height: 30%;
					z-index: 333;
					position: absolute;
					top: -13%;
					right: 35%;
				}
			}

			&.block_4 {
				background-color: #dad6ff;
				bottom: 22%;
				right: 7%;
				width: 30%;
				height: 25%;

				@media (max-width: 1000px) {
					bottom: 20%;
					right: 15%;
					width: 52%;
					height: 18%;
				}

				.content {
					width: 90%;
					height: 80%;
					background-color: #e2f2a5;

					&:hover {
						background-color: #eaf0d3;
						transform: scale(1.05);
					}
				}

				.img_number {
					max-width: 30%;
					max-height: 40%;
					z-index: 333;
					position: absolute;
					top: -13%;
					right: -10%;

					@media (max-width: 1000px) {
						top: -9%;
						right: 40%;
						max-width: 22%;
						max-height: 30%;
					}
				}
			}

			&.block_5 {
				background-color: #dad6ff;
				bottom: -5%;
				right: 28%;
				width: 25%;
				height: 22%;

				@media (max-width: 1000px) {
					bottom: -9%;
					right: 60%;
					width: 35%;
					height: 25%;
				}

				.content {
					width: 90%;
					height: 80%;
					background-color: #fff;

					&:hover {
						background-color: #fff;
						transform: scale(1.05);
					}
				}

				.img_number {
					max-width: 33%;
					max-height: 35%;
					z-index: 333;
					position: absolute;
					top: -2%;
					right: 0%;
				}
			}
		}
	}
}
