.team_block {
	padding: 2.5% 0;

	background-image: url('../../assets/team-page/back.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (max-width: 920px) {
		padding: 10% 0;
	}

	@media (max-width: 430px) {
		padding: 18% 1%;
		background-image: url('../../assets/team-page/back-mobile.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.person_block {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 55%;
		margin: 0 auto;
		margin-bottom: 2%;
		align-items: stretch;

		@media (max-width: 920px) {
			width: 90%;
		}

		@media (max-width: 430px) {
			padding-bottom: 2%;
			border-bottom: 1px solid #fff;
			display: flex;
			flex-direction: column;
			align-items: start;
		}

		.person_avatar {
			width: 20%;
			position: relative;

			@media (max-width: 430px) {
				width: 35%;
			}

			.frame {
				position: relative;
				z-index: 50;
			}

			.photo_ruslan {
				position: absolute;
				top: 5%;
				left: 3%;
				width: 95%;
			}

			.photo_fabio {
				position: absolute;
				top: 5%;
				left: 12%;
				width: 85%;
			}

			.photo_sasha {
				position: absolute;
				top: 9%;
				left: 6%;
				width: 90%;
			}

			.photo_shah {
				position: absolute;
				top: 5%;
				left: 6%;
				width: 90%;
			}

			.photo_me {
				position: absolute;
				top: 10%;
				left: 10%;
				width: 80%;
			}
		}

		.person_describe {
			width: 70%;
			font-size: 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0.5%;

			@media (max-width: 3000px) {
				font-size: 30px;
			}

			@media (max-width: 2200px) {
				font-size: 20px;
			}

			@media (max-width: 1600px) {
				font-size: 16px;
			}

			@media (max-width: 820px) {
				font-size: 12px;
			}

			@media (max-width: 820px) {
				width: 100%;
				font-size: 14px;
			}

			.person_role {
				width: 100%;

				.advisor {
					width: 40%;
				}
			}

			.person_text {
				width: 100%;
				color: #fff;

				.person_name {
					margin-bottom: 1.5%;
				}

				@media (max-width: 430px) {
					width: 75%;
				}
			}

			.person_link {
				text-decoration: none;
				font-weight: bold;
				color: #fff;

				@media (max-width: 430px) {
					border-bottom: none;
					display: block;
					text-align: right;
				}
			}
		}
	}
}
