.preloader {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #0a1724;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	.loading {
		-webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
		animation: sk-scaleout 1.5s infinite ease-in-out;
	}

	@keyframes sk-scaleout {
		0% {
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
		}
		100% {
			-webkit-transform: scale(1.5);
			opacity: 1;
			transform: scale(1.5);
		}
	}
}
