.faq_block {
	position: relative;
	min-height: 120vh;
	margin-top: -18.7%;
	aspect-ratio: 25/24;

	@media (max-width: 820px) {
		display: flex;
		justify-content: center;
		margin-top: 15%;
		min-height: 70vh;
	}

	@media (max-width: 430px) {
		margin-top: 50%;
		aspect-ratio: 3/6;
	}

	.background {
		width: 100%;
		display: block;

		@media (max-width: 820px) {
			display: none;
		}
	}

	.backgroundMobile {
		display: none;
	}

	.person {
		display: none;
		@media (max-width: 430px) {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 333;
			width: 40%;
		}
	}

	.faq_block_content {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		min-height: 95vh;
		z-index: 1;

		@media (max-width: 820px) {
			width: 50%;
			min-height: 50vh;
			position: static;
			transform: none;
		}

		@media (max-width: 430px) {
			width: 90%;
			position: static;
			transform: none;
		}

		.title {
			width: 20.5%;
			margin-bottom: 4.55%;

			@media (max-width: 930px) {
				width: 13.5%;
			}
		}

		.faq_block_question {
			.question_answer {
				background-color: #fff;
				border: 5px solid #000;
				padding: 15px 15px;
				margin: 10px;
				font-size: 40px;
				position: relative;
				z-index: 1;
				@media (max-width: 3000px) {
					font-size: 30px;
					padding: 10px 10px;
					border: 3px solid #000;
				}

				@media (max-width: 2200px) {
					font-size: 20px;
				}

				@media (max-width: 1600px) {
					font-size: 16px;
					padding: 5px 5px;
				}

				@media (max-width: 820px) {
					font-size: 12px;
					border: 2px solid #000;
					padding: 3px 3px;
				}

				.question_content {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #c4b6f2;
					border: 5px solid #000;
					border-bottom: 0px;
					text-align: center;
					padding: 12px 10px;
					cursor: pointer;
					
					@media (max-width: 3000px) {
						border: 3px solid #000;
						border-bottom: 0px;
					}

					@media (max-width: 820px) {
						border: 2px solid #000;
						border-bottom: 0px;
					}

					.question_title {
						flex: 0 1 95%;
						@media (max-width: 930px) {
							padding: 0 3px;
						}

						&.active {
							color: #fff;
						}
					}

					.question_icon {
						flex: 0 1 4%;
					}
				}

				.answer_content {
					height: 0px;
					overflow: hidden;
					transition: all 0.3s ease;
					color: #000;
					background-color: #dad6ff;
					border: 5px solid #000;
					border-top: 0px;
					padding: 0 20px;

					@media (max-width: 3000px) {
						border: 3px solid #000;
						border-top: 0px;
					}

					@media (max-width: 820px) {
						border: 2px solid #000;
						border-top: 0px;
					}

					.answer_text {
						text-align: justify;
						white-space: pre-line;
					}
				}

				.collapse {
					height: auto;
					max-height: max-content;
					padding: 20px;
					border: 5px solid #000;
					border-top: 0px;
					transition: all 0.4s ease;

					@media (max-width: 3000px) {
						border: 3px solid #000;
						border-top: 0px;
					}

					@media (max-width: 820px) {
						border: 2px solid #000;
						border-top: 0px;
					}
				}
			}
		}
	}
}

.footer_content{
	display: flex;
	justify-content: space-between;
	width: 90VW;
	padding-top: 16vw;
}

.text_section{
	width: 35vw;
	border: 5px solid #ffffff;
	background-color: #c4b6f2;
	
	p{
		margin: 1vw;
	}
}

.docs_button{
	background-color: #c4b6f2;
	text-decoration: none;
	padding: 1vw 2vw;
	border: 3px solid #000;
	margin-right: 32vw;
}

.border{
	border: 3px solid #000;
}


.island {
	position: absolute;
	top: -7vw;
	right: 0vw;
	z-index: 0;
	animation: moveUpDown 3s ease-in-out infinite;
  }

  @keyframes moveUpDown {
	0% {
	  transform: translateY(0); /* Начальная позиция */
	}
	50% {
	  transform: translateY(2vw); /* Движение вниз */
	}
	100% {
	  transform: translateY(0); /* Возврат в начальную позицию */
	}
  }

  @media (max-width: 820px) {
  .island {
	position: absolute;
	top: 97vw;
	right: 0vw;
	z-index: 0;
	animation: moveUpDown 3s ease-in-out infinite;
  }

}