
.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;

	.hideMenu {
		position: absolute;
		width: 100%;
		height: 90%;

		.miniMenuBorder {
			width: 8%;
			height: 80%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			cursor: pointer;
			background-color: #9a76b1;
			border-radius: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 0.3s ease, transform 0.3s ease;
			border: 0.2vw solid #fff;
			@media (max-width: 930px) {
			  width: 10%;
			}
		  
			@media (max-width: 430px) {
			  display: none;
			}
		  }
		  
		  /* miniMenuBorderScrolled: при прокрутке */
		  .miniMenuBorderScrolled {
			background-color: #f9aad5; /* Темнее при прокрутке */
			transform: translate(-50%, 10px); /* Добавляем небольшой сдвиг вниз */
			border: 0.2vw solid #fff;
		  }
		  
		  /* miniMenu: изначальное состояние */
		  .miniMenu {
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 25px;
			color: #fff;
			background-color: #9a76b1;
			
			font-size: calc(12px + 30 * (100vw / 3840));
			transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
		  
			@media (max-width: 1930px) {
			  font-size: 18px;
			}
		  
			@media (max-width: 1300px) {
			  font-size: 16px;
			}
		  
			@media (max-width: 1000px) {
			  font-size: 10px;
			}
		  
			@media (max-width: 930px) {
			  font-size: 16px;
			}
		  }
		  
		  /* miniMenuScrolled: при прокрутке */
		  .miniMenuScrolled {
			background-color: #f9aad5; /* Темнее при прокрутке */
			transform: scale(0.95); /* Легкое уменьшение */
		  }
		  
		  .title {
			margin-right: 5%;
		  }
		  
		  .menu_icon {
			width: 15%;
			height: 50%;
			margin-top: -1%;
			border-top: 4px solid #fff;
			border-bottom: 4px solid #fff;
			display: flex;
			justify-content: space-around;
			flex-direction: column;
		  
			@media (max-width: 1930px) {
			  border-top: 2px solid #fff;
			  border-bottom: 2px solid #fff;
			}
		  
			span {
			  height: 4px;
			  width: 100%;
			  background-color: #fff;
		  
			  @media (max-width: 1930px) {
				height: 2px;
			  }
			}
		  }

		.premintLink {
			position: absolute;
			top: -5%;
			right: -6%;
			width: 40%;
			height: 100%;

			img {
				width: 35%;
			}
		}
	}

	.nav_bar {
		width: 64%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 0.1% 3%;
		position: relative;
		top: 0;
		background-color: #9a76b1;
		border-radius: 25px;
		transition: top 0.3s ease-in-out;
		border: 0.2vw solid #fff;
		&.hide {
			top: -100px;
		}

		@media (max-width: 930px) {
			width: 100%;
			padding: 0.5% 10%;
		}

		@media (max-width: 930px) and (max-height: 430px) {
			padding: 0.5% 3%;
		}

		@media (max-width: 430px) {
			height: 50px;
			padding: 1% 5%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			clip-path: none;
		}

		.nav_bar_logo {
			flex-basis: 13%;

			a {
				img {
					max-width: 20%;
					transition: all 0.2s;

					&:hover {
						transform: scale(1.2);
					}

					@media (max-width: 930px) and (max-height: 430px) {
						max-width: 25%;
					}

					@media (max-width: 430px) {
						max-width: 45%;
					}
				}
			}

			@media (max-width: 430px) {
				flex-basis: 20%;

				img {
					width: 100%;
				}
			}
		}

		.mobile_menu_premint {
			display: none;

			@media (max-width: 430px) {
				display: block;
				flex-basis: 50%;

				color: #fff;
				border: 2px solid #fff;
				text-align: center;
				margin-right: 15px;
				padding: 1%;
				font-weight: bold;

				a {
					font-size: 16px;
					text-decoration: none;
					color: #fff;

					@media (max-width: 400px) {
						font-size: 14px;
					}
				}
			}
		}

		.title_menu {
			font-size: 25px;
		}

		.nav_bar_menu {
			flex-basis: 80%;
			
			@media (max-width: 430px) {
				display: none;
			}

			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				
				li {
					position: relative;
					margin-right: 2%;
					padding-right: 2%;
					text-decoration-color: transparent;
					transition: 0.5s;
					text-decoration: none;
					list-style: none;
					&:last-of-type {
						margin-right: 0;
					}

					a {
						text-decoration: none;
						color: #fff;
						font-weight: bold;
						font-size: 38px;
						white-space: nowrap;
						@media (max-width: 3000px) {
							font-size: 30px;
						}

						@media (max-width: 1930px) {
							font-size: 18px;
						}

						@media (max-width: 1600px) {
							font-size: 14px;
						}

						@media (max-width: 1000px) {
							font-size: 10px;
						}

						@media (max-width: 930px) {
							font-size: 14px;
						}
					}

					a:hover {
						color: #000;
						transition: 1s;
					}
				}

				.circle {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: #fff;
					position: absolute;
					top: 50%;
					left: 100%;
					transform: translate(-50%, -50%);

					@media (max-width: 2000px) {
						width: 5px;
						height: 5px;
					}
				}
			}
		}

		.nav_bar_menu_social {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-basis: 13%;

			@media (max-width: 430px) {
				display: none;
			}

			a {
				margin: 0 3%;

				img {
					max-width: 1.5vw;
					padding-top: 0.2vw;
					transition: all 0.2s;

					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}

		.mobile_menu_btn {
			display: flex;
			align-items: center;

			.mobile_menu_title {
				margin-right: 15px;
				font-size: 20px;
				color: #fff;
				font-weight: bold;

				@media (min-width: 500px) {
					display: none;
				}
			}

			.nav_bar_menu_burger_btn {
				@media (min-width: 430px) {
					display: none;
				}

				width: 30px;
				height: 25px;
				position: relative;
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					width: 30px;
					height: 3px;
					background-color: #fff;
				}

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					width: 30px;
					height: 3px;
					background-color: #fff;
				}

				span {
					position: absolute;
					width: 30px;
					height: 3px;
					background-color: #fff;
					top: 11px;
				}
			}

			.nav_bar_menu_close_btn {
				width: 30px;
				height: 25px;
				position: relative;
				cursor: pointer;

				@media (min-width: 430px) {
					display: none;
				}

				&:before {
					content: '';
					position: absolute;
					top: 10px;
					width: 30px;
					height: 3px;
					background-color: #fff;
					transform: rotate(45deg);
				}

				&::after {
					content: '';
					position: absolute;
					bottom: 12px;
					width: 30px;
					height: 3px;
					background-color: #fff;
					transform: rotate(135deg);
				}
			}
		}
	}

	.nav_bar_menuScrolled{
		background-color: #f9aad5; /* Темнее при прокрутке */
		transform: scale(0.95); /* Легкое уменьшение */
	}

	.nav_bar_Scrolled{
		background-color: #f9aad5; /* Темнее при прокрутке */
		transform: scale(0.95); /* Легкое уменьшение */
	}

	.nav_menu_burger_content {
		width: 100%;
		height: 245px;
		position: fixed;
		top: 50px;
		z-index: 999;
		background-color: #354269;
		transform: translateY(0px);
		transition: all 0.5s;

		ul {
			li {
				border-bottom: 2px solid black;
				font-size: 25px;
				padding: 5px 30px;
				background-color: #fff;

				a {
					text-decoration: none;
					color: #000;
				}

				&:last-child {
					border: none;
					border-bottom-left-radius: 30px;
					border-bottom-right-radius: 30px;
				}
			}
		}

		.social_menu {
			margin-top: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #354269;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;

			a {
				text-align: center;
				img {
					width: 50px;
					margin: 5px 5px;
				}

				img:hover {
					width: 75px;
					margin: 5px 5px;
				}
			}
		}
	}

	& .no_visible {
		transform: translateY(-400px);
	}
}
