.footer {
	position: relative;
	z-index: 999;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: -4.5%;
	

	h2{
		position: absolute;
		top: 3.2vw;
		font-size: 92%;
		
		@media (max-width: 430px) {
			display: none;
		}
	}

	@media (max-width: 930px) {
		margin-top: -4%;
	}

	@media (max-width: 430px) {
		flex-direction: column-reverse;
		margin-top: -10%;
	}

	.footer_menu {
		width: 20%;
		margin-left: -0.5%;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media (max-width: 1600px) {
			width: 28%;
		}

		@media (max-width: 930px) {
			width: 50%;
		}

		@media (max-width: 430px) {
			width: 90%;
			display: none;
		}

		.text_menu_item {
			display: flex;
			align-items: center;
			justify-content: space-around;

			a {
				text-decoration: none;
				color: #000;
				font-weight: bold;
				letter-spacing: -1.5px;

				font-size: 38px;

			
				@media (max-width: 3000px) {
					font-size: 30px;
				}

				@media (max-width: 1930px) {
					font-size: 18px;
				}

				@media (max-width: 1300px) {
					font-size: 16px;
				}

				@media (max-width: 1000px) {
					font-size: 10px;
				}

				@media (max-width: 930px) {
					font-size: 14px;
				}
			}
		}

		.circle {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #000;

			@media (max-width: 1930px) {
				width: 7px;
				height: 7px;
			}

			@media (max-width: 1280px) {
				width: 5px;
				height: 5px;
			}
		}
	}

	.social_menu {
		width: 12%;
		margin-left: 1%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.5vw;
		@media (max-width: 430px) {
			display: none;
		}

		@media (max-width: 930px) and (max-height: 430px) {
			width: 17%;
		}

		@media (max-width: 930px) {
			margin-bottom: 3vw;
		}

		a {
			width: 25%;

			img {
				width: 90%;
				max-width: 100%;
			}

			img:hover {
				width: 98%;
			}

		}
	}
}


.footer_content{
	display: flex;
	justify-content: space-between;
}

.text_section{
	width: 40vw;
}